.delivery-index-container {
  section.banner {
    height: 570px;
    overflow: hidden;
    background: image-url('delivery/banner.png') no-repeat;
    background-size: cover;
    color: #FFF;
    text-align: center;
    overflow: visible;

    h1 {
      margin-top: 62px;
      font-size: 36px;
      font-weight: 600;
    }

    p {
      margin-top: 11px;
      font-size: 30px;
    }

    .img-wrap {
      margin-top: 43px;
    }
  }

  section.services {
    padding-bottom: 95px;
    background-color: #eceff1;

    .description {
      text-align: center;
      line-height: 21px;
    }

    .protection {
      h2 {
        padding: 0 20px;
        text-align: center;
        font-size: 30px;
        margin-top: 118px;
        background-color: #eceff1;
        display: inline-block;
        z-index: 9;
        position: relative;
        left: 50%;
        @include transform-translate(-50%, 0);
      }

      .line {
        width: 100%;
        height: 1px;
        background-color: #ee534f;
        display: inline-block;
        position: relative;
        top: -27.5px;
        z-index: 0;
      }

      .description {
        margin-top: 16px;
      }
    }

    .service-wrap {
      margin-top: 54px;

      .title, .img-wrap {
        text-align: center;
      }

      .title {
        margin-top: 23px;
        font-size: 24px;
        font-weight: 400;
      }

      .description {
        margin-top: 22px;
      }
    }
  }

  section.delivery {
    min-height: 580px;
    border-top: 2px solid #ee534f;

    .title-box {
      position: relative;
      top: -50px;
      padding: 9px;
      background-color: #ee534f;
      height: 50px;
      text-align: center;
      font-size: 24px;
      font-family: $support-font;
      color: #FFF;
      text-transform: uppercase;
    }

    .slider.imgs {
      .owl-dots {
        display: none;
      }

      img {
        width: 100%;
        padding-right: 15px;
      }
    }

    .title {
      margin-top: 93px;
      font-size: 30px;
      line-height: 36px;
      color: $main-red;
    }

    .description {
      margin-top: 17px;
      line-height: 21px;
    }
  }

  section.brands {
    min-height: 300px;
    background-color: #eceff1;
    text-align: center;

    .img-wrap {
      margin-top: 62px;
      padding-bottom: 29px;
      border-bottom: 1px solid #cfd8dc;
      text-align: center;
    }

    .motto {
      color: #37474f;
      font-size: 18px;
      line-height: 27px;
      margin-top: 22px;
    }

    p.author {
      margin-top: 7px;
      color: #546e7a;
    }
  }

  section.contact {
    text-align: center;
    height: 230px;
    background-color: #ef5555;
    color: #FFF;

    h2 {
      margin-top: 35px;
      display: inline-block;
      font-size: 30px;
      line-height: 56px;
      width: 100%;
    }

    .btn.white {
      margin-top: 23px;
    }

    p.desc {
      margin-top: 16px;
      font-size: 24px;
      line-height: 28px;
    }
  }
}
