.delivery-index-container {
  section.banner {
    height: 570px;
    overflow: hidden;
    background: image-url('delivery/banner.png') no-repeat;
    background-size: cover;
    color: #FFF;
    text-align: center;
    overflow: visible;

    h1 {
      margin-top: 62px;
      font-size: 36px;
      font-weight: 600;
    }

    p {
      margin-top: 11px;
      font-size: 30px;
    }

    .img-wrap {
      margin-top: 43px;
    }
  }

  section.services {
    padding-bottom: 95px;
    background-color: #eceff1;

    .description {
      text-align: center;
      line-height: 21px;
    }

    .protection {
      h2 {
        padding: 0 20px;
        text-align: center;
        font-size: 30px;
        margin-top: 118px;
        background-color: #eceff1;
        display: inline-block;
        z-index: 9;
        position: relative;
        left: 50%;
        @include transform-translate(-50%, 0);
      }

      .line {
        width: 100%;
        height: 1px;
        background-color: #ee534f;
        display: inline-block;
        position: relative;
        top: -27.5px;
        z-index: 0;
      }

      .description {
        margin-top: 16px;
      }
    }

    .service-wrap {
      margin-top: 54px;

      .title, .img-wrap {
        text-align: center;
      }

      .title {
        margin-top: 23px;
        font-size: 24px;
        font-weight: 400;
      }

      .description {
        margin-top: 22px;
      }
    }
  }

  section.delivery {
    min-height: 580px;
    border-top: 2px solid #ee534f;
    background: image-url('delivery/waybill.png') no-repeat left bottom;
    background-position-y: 50px;
    text-align: right;

    .title-box {
      position: relative;
      top: -50px;
      padding: 9px;
      background-color: #ee534f;
      height: 50px;
      text-align: center;
      font-size: 24px;
      font-family: $support-font;
      color: #FFF;
      text-transform: uppercase;
    }

    .title {
      margin-top: 93px;
      font-size: 30px;
      line-height: 36px;
      color: $main-red;
    }

    .description {
      margin-top: 17px;
      line-height: 21px;
    }

    .spliter  {
      position: relative;
    }

    .line {
      position: absolute;
      top: -50px;
      right: 50%;
      width: 2px;
      height: 579px;
      background: red;
      z-index: 1;
    }

    .circle-wrap {
      margin-top: 80px;
      background: #FFF;
      width: 65px;
      height: 85px;
      padding: 10px 0 10px;
      position: absolute;
      z-index: 9;

      .circle {
        height: 100%;
        border: 2px solid $main-red;
        @include border-radius(50%);

        &:after {
          content: "";
          width: 100%;
          height: 100%;
          position: relative;
          display: block;
          background: image-url('delivery/site.png') no-repeat center;
        }
      }
    }
  }

  section.contact {
    text-align: center;
    height: 230px;
    background-color: #ef5555;
    color: #FFF;

    h2 {
      margin-top: 35px;
      display: inline-block;
      font-size: 30px;
      line-height: 56px;
      width: 100%;
    }

    .btn.white {
      margin-top: 23px;
    }

    p.desc {
      margin-top: 16px;
      font-size: 24px;
      line-height: 28px;
    }
  }
}
