= display_meta_tags
= favicon_link_tag
= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
= javascript_include_tag 'application', 'data-turbolinks-track' => true
meta name="format-detection" content="telephone=no"
= csrf_meta_tags





