.application-index-container {
  .btn.red, .btn.white {
    margin-right: 10px;
  }

  section:not(.banner) .btn.white {
    height: 40px;
    margin-top: 33px;
    padding: 8px 18px;
    display: inline-block;
  }

  section  {
    border-bottom: 1px solid #e0e0e0;

    &:last-child {
      border-bottom: none;
    }

    h2.title {
      font-size: 24px;
      font-weight: bold;

      &:after {
        content: "";
        width: 50px;
        height: 4px;
        top: 4px;
        position: relative;
        display: block;
        background-color: $main-red;
      }
    }
  }

  article {
    line-height: 21px;
    margin-top: 30px;
    font-size: 16px;
  }

  .intro {
    margin-bottom: 60px;
  }

  section.banner {
    min-height: 470px;
    background: image-url('core/banner-bg.jpeg') no-repeat;
    background-size: cover;

    .intro {
      margin-top: 68px;
      color: #FFF;

      p.bold {
        font-size: 36px;
        text-transform: uppercase;
        font-weight: bold;
        white-space: nowrap;
        margin-top: 20px;
        letter-spacing: 2.5px;
      }

      p {
        white-space: nowrap;
        margin-top: 20px;
        letter-spacing: 2.5px;
        font-size: 36px;
        white-space: nowrap;
        font-size: 32px;
      }

      .btn.white {
        height: 60px;
        max-width: 368px;
        margin-top: 65px;
        font-size: 24px;
        position: relative;

        &:after {
          top: 90px;
          left: 50%;
          content: "\f175";
          font-family: "FontAwesome";
          display: inline-block;
          position: absolute;
        }
      }
    }

    .img-wrap {
      margin-top: 25px;
    }
  }

  section.afian-lab {
    background-color: #fafafa;
    min-height: 560px;

      h1.title:after {
        width: 82px;
      }

    .wraper {
      margin-top: 82px;
    }

    .img-wrap img {
      max-width: 100%;
    }

    .intro {
      margin-top: 50px;
    }
  }

  section.services {
    min-height: 420px;
    text-align: center;

    .wraper {
      margin-top: 94px;
    }

    .img-wrap {
      min-height: 96px;
    }

    .title {
      margin-top: 32px;
      font-size: 18px;
      font-weight: bold;
    }

    .description {
      margin-top: 12px;
      line-height: 21px;
    }
  }

  section.deliver {
    min-height: 460px;

    .wraper {
      margin-top: 75px;
    }

    .img-wrap img {
      width: 100%;
    }

    background-color: #fafafa;
  }

  section.route {
    min-height: 472px;
    color: #FFF;
    background-color: #ef5555;

    img {
      max-width: 100%;

      @media (min-width: 1200px) {
        max-width: 665px;
      }
    }

    .wraper {
      margin-top: 50px;
    }

    .intro {
      margin-top: 40px;

      h1.title:after {
        background-color: #FFF;
      }
    }
  }

  section.bus-viz {
    min-height: 466px;

    .wraper {
      margin-top: 46px;
    }

    .img-wrap img {
      width: 100%;

      @media (min-width: 1200px) {
        max-width: 627px;
      }
    }

    .intro {
      margin-top: 38px;
    }
  }

  section.taxi-viz {
    min-height: 468px;
    background-color: #fafafa;
    @media (min-width: 1200px) {
      height: 468px;
    }

    .wraper {
      margin-top: 48px;
    }

    .img-wrap img {
      margin-left: 15px;
      max-width: 100%;

      @media (min-width: 1200px) {
        max-width: 555px;
      }
    }

    .intro {
      margin-top: 52px;
    }
  }

  section.clients {
    min-height: 500px;

    .wraper {
      margin-top: 127px;
    }

    p.title {
      margin-bottom: 33px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;

      .fa {
        margin: 0 5px;
        color: $main-red;
      }
    }

    .branch-box {
      height: 210px;
      border: 1px solid #e0e0e0;
      @include border-radius(2px);
      @include display-flex();

      img {
        max-width: 90%;
        max-height: 165px;
        margin: 0 auto;
        @include display-flex();
        @include align-self(center);
      }
    }
  }

  section.contact {
    min-height: 240px;
    background-color: #37474f;

    .wraper {
      margin-top: 41px;

      .quote {
        padding-top: 12px;
        border-right: 1px solid #e0e0e0;
      }

      .contact-info {
        p {
          font-size: 18px;
          color: #FFF;
          line-height: 27px;

          &:first-child {
            margin-top: 11px;
          }
        }

        .fa {
          color: $main-red;
          margin-right: 10px;
          min-width: 15px;
          position: relative;
          top: 1px;
        }
      }
    }

    p.title {
      color: #FFF;
      font-size: 18px;
      text-align: center;
      line-height: 27px;
    }

    .btn.red {
      height: 60px;
      margin: 24px auto 10px auto;
      max-width: 270px;
      font-size: 24px;
    }
  }
}

.page-wrap {
  @media (max-width: 990px) {
    section.banner  {
      .intro p {
        white-space: normal;
      }

      .img-wrap {
        display: none;
      }
    }

    section .img-wrap {
      text-align: center;
    }

    section.services .service-wrap {
      margin-bottom: 50px;
    }

    section.clients  {
      .wraper {
        margin-top: 40px;
      }

      .branch-box {
        margin-bottom: 20px;
      }
    }

    section.contact {
      padding-bottom: 30px;

      .wraper  {
        margin-top: 20px;

        .quote {
          padding-bottom: 23px;
          border-right: none;
          border-bottom: 1px solid #e0e0e0;
        }

        .contact-info p:first-child {
          margin-top: 24px;
        }
      }
    }
  }

  @media (max-width: 767px) {
    .application-index-container {
      .row.reorder-xs {
        transform: rotate(180deg);
        direction: rtl;
      }

      .row.reorder-xs > [class*="col-"] {
        transform: rotate(-180deg);
        direction: ltr;
      }

      section.afian-lab .img-wrap img {
        width: 90%;
      }

      section.banner  {
        min-height: 410px;

        .btn.white {
          margin: 50px auto 90px;
        }

        .intro  {
          text-align: center;

          h1.bold {
            font-size: 24px;
          }

          p:not(.bold) {
            font-size: 20px;
            line-height: 30px;
          }
        }
      }

      section.afian-lab {
        .wraper {
          margin-top: 0;

          .img-wrap {
            padding-bottom: 45px;
          }
        }
      }

      section.taxi-viz {
        .img-wrap img {
          margin-left: 0;
        }
      }
    }
  }
}
