.application-index-container {
  section  {
    border-bottom: 1px solid #e0e0e0;

    &:last-child {
      border-bottom: none;
    }

    h1.title {
      font-size: 24px;
      font-weight: bold;

      &:after {
        content: "";
        width: 50px;
        height: 4px;
        top: 4px;
        position: relative;
        display: block;
        background-color: $main-red;
      }
    }
  }

  article {
    line-height: 21px;
    margin-top: 30px;
  }

  section.banner {
    height: 470px;
    background: image-url('core/banner-bg.png') no-repeat;
    background-size: cover;

    .intro {
      margin-top: 68px;
      font-size: 36px;
      font-weight: bold;
      color: #FFF;

      p {
        letter-spacing: 2.5px;
        margin-top: 20px;
        white-space: nowrap;
      }

      .btn.white {
        height: 60px;
        max-width: 368px;
        margin-top: 65px;
        font-size: 24px;
        position: relative;

        &:after {
          top: 90px;
          left: 50%;
          content: "\f175";
          font-family: "FontAwesome";
          display: inline-block;
          position: absolute;
        }
      }
    }

    .img-wrap {
      margin-top: 25px;
    }
  }

  section.afian-lab {
    background-color: #fafafa;
    height: 560px;

      h1.title:after {
        width: 82px;
      }

    .wraper {
      margin-top: 132px;
    }

    .img-wrap img {
      max-width: 625px;
    }
  }

  section.services {
    height: 420px;
    text-align: center;

    .wraper {
      margin-top: 94px;
    }

    .img-wrap {
      min-height: 96px;
    }

    .title {
      margin-top: 32px;
      font-size: 18px;
      font-weight: bold;
    }

    .description {
      margin-top: 12px;
      line-height: 21px;
    }
  }

  section.deliver {
    .wraper {
      margin-top: 75px;
    }

    .img-wrap img {
      width: 100%;
    }

    background-color: #fafafa;
  }

  section.route {
    height: 480px;
    color: #FFF;
    background-color: #ef5555;

    .wraper {
      margin-top: 50px;
    }

    .intro {
      margin-top: 52px;

      h1.title:after {
        background-color: #FFF;
      }
    }
  }

  section.bus-viz {
    height: 466px;

    .wraper {
      margin-top: 46px;
    }

    .img-wrap img {
      max-width: 627px;
    }

    .intro {
      margin-top: 52px;
    }
  }

  section.taxi-viz {
    height: 468px;
    background-color: #fafafa;

    .wraper {
      margin-top: 48px;
    }

    .img-wrap img {
      margin-left: 15px;
    }

    .intro {
      margin-top: 52px;
    }
  }

  section.clients {
    height: 500px;

    .wraper {
      margin-top: 127px;
    }

    p.title {
      margin-bottom: 33px;
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;

      .fa {
        margin: 0 5px;
        color: $main-red;
      }
    }

    .branch-box {
      height: 210px;
      border: 1px solid #e0e0e0;
      @include border-radius(2px);
      @include display-flex();

      img {
        margin: 0 auto;
        @include display-flex();
        @include align-self(center);
      }
    }
  }

  section.contact {
    height: 240px;
    background-color: #37474f;

    .wraper {
      margin-top: 41px;

      .quote {
        padding-top: 12px;
        border-right: 1px solid #e0e0e0;
      }

      .contact-info {
        p {
          font-size: 18px;
          color: #FFF;
          line-height: 27px;

          &:first-child {
            margin-top: 11px;
          }
        }

        .fa {
          color: $main-red;
          margin-right: 10px;
          min-width: 15px;
          position: relative;
          top: 1px;
        }
      }
    }

    p.title {
      color: #FFF;
      font-size: 18px;
      text-align: center;
      line-height: 27px;
    }

    .btn.red {
      height: 60px;
      margin: 24px auto 10px auto;
      max-width: 270px;
      font-size: 24px;
    }
  }
}
